* {
  box-sizing: border-box;
}

html, body, div, p, ul, li,
h1, h2 ,h3, h4, h5,
table, td, th{
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

html, body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 50px;
}
body {
  font-size: 16px;
  max-width: 7.5rem;
  overflow-x: hidden;
  margin: auto;
}

a {
  text-decoration: none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
textarea {
  resize: none;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.pull-left {
  float: left!important;
}
.pull-right {
  float: right!important;
}
.red-font {
	color: #D61518!important;
}
.gray-font {
	color: #666666!important;
}
.f24 {
	font-size: 0.24rem;
}
.f26 {
	font-size: 0.26rem;
}
.f28 {
	font-size: 0.28rem;
}
.f32 {
	font-size: 0.32rem;
}
.f60 {
	font-size: 0.6rem;
}
.text-overflow {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.circle-btn {
  display: inline-block;
  height: .36rem;
  font-size: .2rem;
  color: #F14652;
  line-height: calc(.36rem - 2px);
  border:1px solid rgba(241,70,82,1);
  padding: 0 .14rem;
  border-radius: .18rem;
}
.block {
  display: block;
}
h1.title {
  line-height: 1.04rem;
  font-size: .32rem;
  color: #333;
  text-align: center;
}
.banner-300 {
  width: 100%;
  height: 3rem;
}
.banner-300 img {
  width: 100%;
  height: 100%;
}
.flex-row{
	flex-direction: row;
	align-items: center;
}
.flex-column{
	flex-direction: column;
}
.lineclamp2{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.lineclamp3{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.text-overflow{
	text-overflow: ellipsis;
}
.split-line{
	width: 100%;
	background:rgba(241,241,241,1);
	height: 1px;
}
.splitbold-line{
	width: 100%;
	height:0.20rem;
	background:rgba(243,243,243,1);
}
.fl{
	float: left;	
}
.fr{
	float: right;	
}
.text-del {
  text-decoration: line-through;
  color: #666;
}
.fixed {
  position: fixed!important;
}

.weui-tabbar.fixed .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
  color: #D61518;
}

.swiper-container .swiper-pagination {
	left: auto;
	right: .14rem;
	bottom: .14rem;
  width: auto;
  height: .48rem;
  line-height: .48rem;
  font-size: .24rem;
	padding: 0 .2rem;
	border-radius: .24rem;
	color:#fff;
	background:rgba(0,0,0,.3);
}

/* popup公共部分 */
.weui-popup-container .head {
  width: 100%;
  height: 1.04rem;
  border-bottom: 1px solid #ddd;
  padding: 0 .34rem;
}
.weui-popup-container .head .title {
  color: #333;
  font-size: .28rem;
  line-height: 1.04rem;
}
.weui-popup-container .head .icon-close {
  margin-top: .32rem;
}

/* 优惠券 */
.couponDialog-list{
	padding: 0 0.2rem;
}
.couponDialog-list li{
	margin-bottom: 0.15rem;
	height:2rem;
	background: #fff;
	border-radius: 0.06rem;
}
.couponDialog-list li .coupon-left{
	width: 2.1rem;
	height: 2rem;	
	background: url(../img/coupon.png) no-repeat center;
	background-size: contain!important;
	float: left;
	text-align: center;
	color: #fff;
}
.couponDialog-list li .coupon-left .coupon-left-price{
	line-height: 0.8rem;
	margin-top: 0.3rem;	
	
}
.couponDialog-list li .coupon-left .coupon-left-price>span:first-child{
	font-size: 0.24rem;	
}
.couponDialog-list li .coupon-left .coupon-left-price>span:first-child+span{
	font-size: 0.8rem;
}
.couponDialog-list li .coupon-left .coupon-left-line{
	width: 80%;
	margin: 0 auto;
	height: 1px;
	background: #fff;
	margin-bottom: 0.1rem;
}