/*商品详情*/
.goods-swiper-container{
	width:100%;	
	height:7.5rem;
	overflow: hidden;
}
.goods-swiper-container img {
    display: block;
    width: 100%;
}
.goods-price-block{
	width:100%;
	height:1.2rem;	
	box-sizing: border-box;
	padding:0 0.2rem;
	color: #fff;
}
.goods-price-block.price-kill{
	background:rgba(95,21,214,1);
}
.goods-price-block .goods-price-tag{
	font-size: 0.28rem;
	line-height: 0.6rem;
	float: left;
	margin-right: 0.16rem;
	margin-top: 0.3rem;
}
.goods-price-block .goods-price{	
	font-size: 0.4rem;
	float: left;
	line-height: 0.6rem;
	border-left: 1px solid #fff;
	padding-left: 0.16rem;
	margin-top: 0.3rem;
}
.goods-countdown{
	float: right;	
	font-size: 0.24rem;
	margin-top: 0.1rem;
}
.countdown-title{
	text-align: center;
	font-size: 0.24rem;	
	margin-bottom: 0.08rem;
}
.countdown-content{
	
}
.countdown-block{
	width:0.4rem;
	height:0.4rem;
	background:rgba(0,0,0,1);
	border-radius:4px;	
	text-align: center;
	display: inline-block;
}
.goods-passprice{
	line-height: 0.6rem;	
	padding:0.35rem;
}
.goods-passprice .red-font{
	font-size: 0.6rem;
}
.goods-passprice .gray-font{
	text-decoration: line-through;
	margin-left: 0.16rem;
}
.goods-weltip{
	width:7.1rem;
	height:0.72rem;
	padding:0.2rem;	
	background:rgba(242,242,242,1);
	border:1px solid rgba(225,225,225,1);
	margin: 0 auto;
	line-height: 0.32rem;
}
.goods-weltip img{
	height: 0.32rem;
	margin-right: 0.16rem;
	vertical-align: top;
}
.goods-weltip .f32.price{
	margin-left: 0.8rem;
}
.goods-weltip a{
	float:right;
	font-size: 0.24rem;
	text-decoration: none;
}
.goods-weltip a:hover,.goods-weltip a:focus{
	color: #333;
	text-decoration: none;
}
.goods-detail-one{
	padding: 0 0.2rem;
	
}
.goods-detail-name{
	line-height: 0.4rem;
	font-size: 0.28rem;
	height: 0.8rem;	
	float: left;
	width: 5.4rem;
}
.goods-detail-save{
	float: right;
}
.goods-detail-save{
	float: right;
	height: 0.8rem;
}
.goods-detail-save .save-line{
	
}
